body{
    margin: 0px;
    font-family: sans-serif;
}
/* > Header section */
header{
    background-image:url(background.jfif);
    width: 100%;
    height: 60vh;
    opacity: 0.8;
    background-repeat: no-repeat;
    /* background-size: contain; */
    background-size: 100% 60%;
    background-attachment:fixed;
    color: white;
    text-align: center;
}
/* -Nav bar */
header ul{
    margin: 0px;
}
.nav_ul1{
    padding-left: 0px;
}
.nav_ul1 li{
    display: inline-block;
    list-style-type:none;
    font-size: 20px;
    margin: 0px 8px;
    padding: 3vh 1vw 0px;
}
.nav_ul1 li a{
    color: white;
    text-decoration: none;
}
.nav_ul1 li a:hover{
    opacity: 0.4;
    text-decoration: underline;
    transition: opacity 0.5s;
}
/* -Social links */
.nav_ul2{
    text-align: center;
    padding-left: 0px;
}
.nav_ul2 li{
    display: inline-block;
    list-style-type:none;
    padding: 1vh 0.8vw;
}
.nav_ul2 li:hover{
    opacity: 0.4;
    text-decoration: underline;
    transition: opacity 0.5s;
    box-shadow: 0px 0px 6px 4px rgba(200, 200, 186, 1);
    border-radius: 50%;
}
.nav_ul2 li a{
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
}
/* -Name */
.mid_header h1{
    font-size: 3rem;
    letter-spacing: 0.1rem;
    margin-top: 15vh;
}
/* Section */
section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-title{
    color:#2857a4;
    font-size: 2rem;
    margin-bottom: 5%;
}
section:nth-child(2n+1)
{
    background-color: white;
    margin-bottom: 75px;
}
section:nth-child(2n)
{
    background-color: rgb(243, 237, 237);
    padding-bottom: 75px;
}
/* >About section */
#About{
    height: auto;
    width: 100%;
}
/* -myimage */
.my_image{
    height: 40%;
    width: 20%;
    margin: auto;
    margin-top: -15vh;
    position: relative;
}
.my_image img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 2px solid rgb(222, 216, 216);
    box-shadow: 0px 0px 10px 2px rgb(63, 60, 60);
}
.my_image:hover{
    height: 60%;
    width: 30%;
    transition:0.5s ease-in;
    /* transition:0.5s ease-out; */
}
/* description */
.description{
    margin-top: 7vh;
    width: 70%;
    text-align: justify;
    font-size: 1.5rem;
    line-height: 90%;
}
.summary{
    font-size: 1.1rem;
}
/* Skills section */
/* #Skills{
    color: #2857a4;
    height: auto;
} */
.skills_section{
    width: 70%;
    height: auto;
}
.skill_bar{
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    height: 25vh;
    gap: 10%;
}
.bar{
    width: 7rem;
    height: 1.4rem;
    background-color: lightgray;
    border-radius: 0.8rem;
    color: white;
}
.same_for_bar{
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 5px;
    border-top-left-radius: 0.8rem;
    border-bottom-left-radius: 0.8rem;
}
.Cpp{
    width: 65%;
    background-color: #2857a4;
}
.Java{
    width: 85%;
    background-color: rgb(224, 98, 52);
}
.Python{
    width: 55%;
    background-color: rgb(172, 98, 172);
}
.Html{
    width: 90%;
    background-color: rgb(59, 127, 59);
}
.CSS{
    width: 88%;
    background-color: #2857a4;
}
.Tailwind{
    width: 85%;
    background-color: rgb(224, 98, 52);
}
.JavaScript{
    width: 85%;
    background-color: rgb(172, 98, 172);
}
.API{
    width: 60%;
    background-color: rgb(59, 127, 59);
}
.React{
    width: 75%;
    background-color: #2857a4;
}
.Springboot{
    width: 50%;
    background-color: rgb(224, 98, 52);
}

/* Portfolio */
.projects{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.project-image img{
    height: 8em;
    width: 15vw;
    border-radius: 15px 40px;
}
.project-title{
    transition: all 1s ease-in-out;
}
.project-title h1{
    border-left: 3px solid;
    padding: 10px;
}
.p1t, .link1{
    color: #0E80FA;
}

.p2t, .link2{
    color: #FF0400;
}
.p3t, .link3{
    color: #EE6085;
}

.p1i img{
    box-shadow: 0px 0px 10px 1px #104b8a;
}
.p2i img{
    box-shadow: 0px 0px 10px 1px #901412;
}
.p3i img{
    box-shadow: 0px 0px 10px 1px #9a1236;
}

/* .project-image img:hover{
    height: 35vh;
    width: 25vw;
} */

.projects:hover .ph:not(:hover){
    opacity: 0.6;
}
.project-title:hover{
    transform: scale(1.1);
}
.project-title:hover .pt-on-hover{
    display: block;
}
.project-title:not(:hover) .pt-on-hover{
    display: none;
}
.ph{ /*For the width of projects*/
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%; 
}
.pt-on-hover{
    font-size: 80%;
    color: black;
}
.pt-on-hover li a{
    text-decoration: none;
}
.pt-on-hover li a:active{
    color: black;
}
/* Work Experience */
.timeline{
    position: relative;
    width: 75%;
}
.timeline-box{
    display: flex;
    flex-direction: column;
    position: relative;
    /* border: 2px solid black; */
    margin: 5px;
    width: 45%;
    min-height: 150px;
    padding-left: 10px;
    text-align: justify;
    line-height: 1.5em;
}
.timeline-box > div{
    margin: -8px;
}
.timeline-box:nth-child(even){
    left: 60%;
    align-self: flex-end;
}
.bold-name{
    font-weight: bolder;
}
.we-heading{
    color: #2857a4;
    text-decoration: underline;
}
.organization{
    color: #ce510d;
}
.duration{
    color: grey;
}
.about-experience{
    width: 90%;
}
.timeline-divider{
    position: absolute;
    border: 1px dashed lightgray;
    height: 90%;
    width: 0%;
    top: 5%;
    left: 50%;
}
.timeline-traveller{
    font-size: 1.5rem;
    position: sticky;
    top: 28%;
    color: #2857a4;
    transform: rotate(90deg);
    z-index: 2;
    padding-top: 1.5px;
}
.timeline-traveller2{
    font-size: 1.5rem;
    position: sticky;
    top: 28%;
    color: #2857a4;
    z-index: 2;
    margin-left: -10px;
    padding-top: 1.5px;
}
.timeline-box:nth-child(odd)::after{
    content: '';
    position: absolute;
    top: 30%;
    left: 107%; 
    border-radius: 50%;
    height: 0.8rem;
    width: 0.8rem;
    background-color: lightgray;
    z-index: 1;
}
.timeline-box:nth-child(even)::before{
    content: '';
    position: absolute;
    top: 38%;
    right: 121.3%; 
    border-radius: 50%;
    height: 0.8rem;
    width: 0.8rem;
    background-color: lightgray;
    z-index: 1;
}
/* Contacts */
#Contact{
    background: linear-gradient(225deg, #214285, #3A2D5C);
    color: white;
}
.contact-container{
    display: flex;
    justify-content: center;
}
.contact-left{
    width: 40%;
}
.contact-right{
    width: 40%;
}
.form{
    display: flex;
    flex-direction: column;
    width: 70%;
}
.form-field{
    padding: 20px 0px 5px;
    background-color: inherit;
    border-width: 0px 0px 2px;
    border-color: white;
    font-size: 1rem;
    line-height: 1.5rem;
    color: white;
}
.form-field::placeholder{
    color: white;
}
.form button{
    margin-top: 20px;
    padding: 18px 0px;
    background-color: inherit;
    border: 2px solid white;
    font-size: 1.1rem;
    line-height: 1.5rem;
    color: white;
    width: 70%;
    align-self: center;
}
.address p i{
    margin-right: 0.5em;
}
.mailidchanges{
    text-decoration: none;
    color: white;
}